<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>OHLC Output <%= Date.today.strftime("%F") %></h1>
    <p>
      See OHLC output attached.
    </p>
  </body>
</html>