.notice-msg{
	color: darkgreen;
	background-color: lightgreen;
	padding-left: 15px;
}

.alert-msg{
	color: darkred;
	background-color: pink;
	padding-left: 15px;
}

.hidden{
	display: none;
}

.analysis-header{
	cursor: pointer;
}

.home-module{
	background-color: white;
	opacity: 0.92;
	padding-bottom: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.analysis-table{
	background-color: white;
	opacity: 0.95;
}

.center {
	text-align: center !important;
	width: 100%;
}